<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/skins/color-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    
    <!--switcher-->
    <link rel="stylesheet" href="./css/skins/color-1.css" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="./css/skins/color-2.css" class="alternate-style" title="color-2" disabled>
    <link rel="stylesheet" href="./css/skins/color-3.css" class="alternate-style" title="color-3" disabled>
    <link rel="stylesheet" href="./css/skins/color-3.css" class="alternate-style" title="color-4" disabled>
    <link rel="stylesheet" href="./css/skins/color-5.css" class="alternate-style" title="color-5" disabled>


    
    <link rel="stylesheet" href="css/style-switcher.css">



    
</head>
<body>

    <!--main container-->
   <div class="main-container ">
    <div class="aside">
        <div class="logo">
            <a href="#"> <span>a</span>tlas</a>
        </div>
        <div class="nav-toggler">
            <span></span>
        </div>
        <ul class="nav">
            <li><a href="#home" class="active"><i class="fa fa-home"></i>home</a></li>
            <li><a href="#about"><i class="fa fa-user"></i>about</a></li>
            <li><a href="#services"><i class="fa fa-list"></i>services</a></li>
            <li><a href="#portfolio"><i class="fa fa-briefcase"></i>portfolio</a></li>
            <li><a href="#contact"><i class="fa fa-comment"></i>contact</a></li>

        </ul>
    </div>
    <div class="main-content">
        <section class="home active section" id="home">
            <div class="container">
                <div class="row">
                    <div class="home-info padd-15">
                        <h3 class="hello">hello my name is <span class="name">zeinab mohsen</span></h3>
                        <h3 class="myprofession">i a m <span class="typing">web designer</span></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Ut id ex nemo, illum veritatis itaque quaerat </p>
                         <a href="#contact " class="btn hir-me">hir me</a>
                        
                    </div>
                    <div class="home-img padd-15">
                        <img src="./img/wasa-crispbread-ad5md5B_7Bs-unsplash.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!--about -->
        <section class="about section " id="about">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15 ">
                        <h2>about me</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="about-content padd-15">
                    <div class="row">
                        <div class="about-text padd-15">
                            <h3>i,m zeinab mohsen and<span>web developer</span></h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cum aliquam modi eligendi
                                . Inventore voluptate praesentium voluptatem eius aliquid illo illum deleniti amet, quibusdam
                                <br>
                                 debitis doloremque similique eaque fugit rerum optio, mollitia quia soluta ex aut tenetur cumque 
                                 dolorem aliquam vero tempore? Perferendis iste itaque reprehenderit sunt, corporis inventore <br>
                                 dolorem aliquam vero tempore? Perferendis iste itaque reprehenderit sunt, corporis inventore  dolorem aliquam vero tempore? Perferendis iste itaque reprehenderit sunt, corporis inventore</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="personal-info padd-15">
                            <div class="row">
                                <div class="info-item padd-15">
                                    <p>birtday :<span>17 set 1999</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>age<span>22</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>website :<span>www.domain.com</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>email:<span>info@gmail.com</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>degree :<span>cs</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>phone :<span>+17678 1999</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>city:<span>islamabad</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>freelnace:<span>available</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="buttons padd-15">
                                    <a href="#" class="btn"> downlod cv</a>
                                    <a href="#contact" class="btn hir-me">hir me</a>
                                </div>
                            </div>
                        </div>                       
                    <div class="skills padd-15">
                        <div class="row">
                            <div class="skill-item padd-15 ">
                                <h5>bootstrap</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 76%;"></div>
                                    <div class="skill-percent">76%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15 ">
                                <h5>js</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 86%;"></div>
                                    <div class="skill-percent">86%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15 ">
                                <h5>php</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 66%;"></div>
                                    <div class="skill-percent">66%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15 ">
                                <h5>htm;</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 96%;"></div>
                                    <div class="skill-percent">96%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="education padd-15">
                            <h3 class="title">education</h3>
                            <div class="row">
                                <div class="timeline-box padd-15">
                                    <div class="timeline shadow-dark">
                                      <!--timline item-->  
                                      <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-data">
                                            <i class="fa fa-calendar"></i> 2013 - 2015
                                        </h3>
                                        <h4 class="timeline-title">masterin computer science</h4>
                                        <p class="timeline-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum veniam exercitationem, eos laboriosam dolores inventore sint iure laudantium explicabo ab eius, nostrum, tempora dolore.</p>
                                      </div>
                                      <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-data">
                                            <i class="fa fa-calendar"></i> 2013 - 2015
                                        </h3>
                                        <h4 class="timeline-title">masterin computer science</h4>
                                        <p class="timeline-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum veniam exercitationem, eos laboriosam dolores inventore sint iure laudantium explicabo ab eius, nostrum, tempora dolore.</p>
                                      </div>
                                      <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-data">
                                            <i class="fa fa-calendar"></i> 2013 - 2015
                                        </h3>
                                        <h4 class="timeline-title">masterin computer science</h4>
                                        <p class="timeline-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum veniam exercitationem, eos laboriosam dolores inventore sint iure laudantium explicabo ab eius, nostrum, tempora dolore.</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="experience padd-15">
                            <h3 class="title">experience</h3>
                            <div class="row">
                                <div class="timeline-box padd-15">
                                    <div class="timeline shadow-dark">
                                      <!--timline item-->  
                                      <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-data">
                                            <i class="fa fa-calendar"></i> 2013 - 2015
                                        </h3>
                                        <h4 class="timeline-title">masterin computer science</h4>
                                        <p class="timeline-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum veniam exercitationem, eos laboriosam dolores inventore sint iure laudantium explicabo ab eius, nostrum, tempora dolore.</p>
                                      </div>
                                      <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-data">
                                            <i class="fa fa-calendar"></i> 2013 - 2015
                                        </h3>
                                        <h4 class="timeline-title">masterin computer science</h4>
                                        <p class="timeline-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum veniam exercitationem, eos laboriosam dolores inventore sint iure laudantium explicabo ab eius, nostrum, tempora dolore.</p>
                                      </div>
                                      <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-data">
                                            <i class="fa fa-calendar"></i> 2013 - 2015
                                        </h3>
                                        <h4 class="timeline-title">masterin computer science</h4>
                                        <p class="timeline-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum veniam exercitationem, eos laboriosam dolores inventore sint iure laudantium explicabo ab eius, nostrum, tempora dolore.</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
           <!--services-->
           <section>
            <div class="service section" id="services">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15" >
                            <h2>service</h2>
                        </div>
                    </div>
                    <div class="row">
                    <!--services item-->
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-mobile-alt"></i>
                            </div>
                            <h4>web design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    <!--services item-->
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-laptop-code"></i>
                            </div>
                            <h4>web design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    <!--services item-->
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-palette"></i>
                            </div>
                            <h4>web design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    <!--services item-->
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-code"></i>
                            </div>
                            <h4>web design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    <!--services item-->
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <h4>web design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    <!--services item-->
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <h4>web design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    <!--services item-->


                    </div>
                </div>
            </div>
           </section>
        <!--portfolio-->
        <section class="portfolio section " id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15" >
                        <h2>portfolio</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="portfolio-heading padd-15">
                        <h2>my last projects :</h2>
                    </div>
                </div>
                <div class="row">
                <!--portfolio item-->
                <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="img/yogendra-singh-KH2rhMJ9bcg-unsplash.jpg" alt="" >
                        </div>
                    </div>
                </div>
                <!--portfolio item-->
                   <!--portfolio item-->
                   <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="img/wasa-crispbread-ad5md5B_7Bs-unsplash.jpg" alt="" >
                        </div>
                    </div>
                </div>
                <!--portfolio item-->
                   <!--portfolio item-->
                   <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="img/tamara-gak-GWbIHT51VT4-unsplash.jpg" alt="" >
                        </div>
                    </div>
                </div>
                <!--portfolio item-->
                   <!--portfolio item-->
                   <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="img/scott-graham-5fNmWej4tAA-unsplash.jpg" alt="" >
                        </div>
                    </div>
                </div>
                <!--portfolio item-->
                   <!--portfolio item-->
                   <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="img/lum3n--RBuQ2PK_L8-unsplash.jpg" alt="" >
                        </div>
                    </div>
                </div>
                <!--portfolio item-->
                   <!--portfolio item-->
                   <div class="portfolio-item padd-15">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="portfolio-img">
                            <img src="img/balazs-ketyi-_x335IZXxfc-unsplash.jpg" alt="" >
                        </div>
                    </div>
                </div>
                <!--portfolio item-->
                </div>
            </div>
        </section>
        <!--portfolio-->
        <!--content-->

    
        <section class="contact section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>contact me</h2>
                    </div>
                </div>
                <h3 class="contact-title padd-15">have you any quesstions ?</h3>
                <h4 class="contact-sub-title padd-15">i,m at your services</h4>
                <div class="row">
                <!--content info item-->
                <div class="contact-info-item padd-15">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <h4>call us on</h4>
                    <p>01125311727</p>
                </div>
                <!--content info item-->
                 <!--content info item-->
                 <div class="contact-info-item padd-15">
                    <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                    <h4>office</h4>
                    <p>egpyt</p>
                </div>
                <!--content info item-->
                 <!--content info item-->
                 <div class="contact-info-item padd-15">
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <h4>email</h4>
                    <p>info@gmail.com</p>
                </div>
                <!--content info item-->
                 <!--content info item-->
                 <div class="contact-info-item padd-15">
                    <div class="icon"><i class="fa fa-globe-europe"></i></div>
                    <h4>website</h4>
                    <p>www.domain.com</p>
                </div>
                <!--content info item-->
                </div>
                <h3 class="contact-title padd-15">send me an email</h3>
                <h4 class="contact-sub-title padd-15">i,m very respoive to messages</h4>
                <!--content from-->
                <div class="row">
                    <div class="contact-form padd-15">
                        <div class="row">
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="name">
                                </div>
                            </div>
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                 <textarea name=""  class="form-control" id="" placeholder="message"></textarea>   
                                </div>
                            </div>
                        </div>
                          <div class="row">
                            <div class="form-item col-12 padd-15">
                             <button type="submit" class="btn">send message</button>   
                            </div>
                        </div>

                    </div>
                </div>
                <!--content from-->
            </div>
        </section>
         <!--content-->
          <!--services-->
    </div>
   </div>
        <!--main container-->
        <!--style switcher-->
<div class="style-switcher">
    <div class="style-switcher-toggler s-icon">
        <i class="fas fa-cog fa-spin"></i>
    </div>
    <div class="day-night s-icon">
        <i class="fas"></i>
    </div>
    <h4>this colors</h4>
    <div class="colors">
        <span class="color-1" onclick="setActivestyle('color-1')"></span>
        <span class="color-2" onclick="setActivestyle('color-2')"></span>
        <span class="color-3" onclick="setActivestyle('color-3')"></span>
        <span class="color-4" onclick="setActivestyle('color-4')"></span>
        <span class="color-5" onclick="setActivestyle('color-5')"></span>

    </div>
</div>

     <!--style switcher-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
    <script src="js/main.js"></script>
    <script src="./js/style-switcher.js"></script>

</body>
</html>